@use "variables" as *;

button {
  padding: $space-xs $space-sm;
  font-family: $primary-font;
  font-size: $font-size-sm;
  font-weight: $fw-semibold;
  color: $black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    opacity: 0.9;
  }
}

.btn {
  &--github {
    background-color: $green;
    color: white;
  }

  &--demo {
    background-color: $blue;
    color: white;
  }
}
