@use "variables" as *;

nav {
  display: flex;
  flex-direction: row;
  gap: $space-sm;
  align-items: center;

  a {
    font-family: $primary-font;
    font-weight: $fw-medium;
    font-size: clamp(
      #{$font-size-md},
      calc(#{$font-size-heading-md} + 1.5vw),
      #{$font-size-lg}
    );
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      // color: $green;
      text-decoration: underline;
    }
  }
}
