@use "variables" as *;

nav {
  display: flex;
  flex-direction: row;
  gap: $space-sm;
  align-items: center;

  a {
    font-family: $primary-font;
    font-weight: $fw-medium;
    font-size: clamp(#{$fs-md}, calc(#{$fs-heading-md} + 1.5vw), #{$fs-lg});
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      // color: $green;
      text-decoration: underline;
    }
  }
}
