@use "variables" as *;

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding: $space-md 0 $space-xl 0;

  @media (min-width: $bp-medium) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
