<header class="header header__wrapper">
  <h1>{{ title() }}</h1>
  <nav class="header__desktop-menu">
    @for (link of links; track link.path) {
    <a
      class="link"
      [routerLink]="link.path"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: link.exact ?? false }"
    >
      {{ link.label }}
    </a>
    }
  </nav>

  <button
    class="header__hamburger"
    [class.open]="isMobileMenuOpen"
    aria-label="Toggle menu"
    (click)="toggleMobileMenu()"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>

<div
  class="mobile-menu"
  [class.open]="isMobileMenuOpen"
  [attr.aria-hidden]="!isMobileMenuOpen"
>
  <nav class="mobile-menu--nav">
    @for (link of links; track link.path) {
    <a
      class="link link--mobile"
      [routerLink]="link.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: link.exact ?? false }"
      (click)="toggleMobileMenu()"
    >
      {{ link.label }}
    </a>
    }
  </nav>
</div>
