@use "variables" as *;

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: $space-md 0;

  // h1 {
  //   color: $red;
  //   font-family: $font-oswald;
  //   // font-size: $font-size-heading-md;
  //   text-transform: uppercase;
  //   letter-spacing: -0.02em;
  // }

  @media (min-width: $bp-medium) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $space-lg 0;
  }
}
