@use "variables" as *;

.link {
  font-family: $primary-font;
  font-weight: $fw-medium;
  font-size: clamp(#{$fs-md}, calc(#{$fs-heading-md} + 1.5vw), #{$fs-lg});
  color: $black;
  text-decoration: none;

  &--mobile {
    font-size: $fs-xl;
  }

  &:hover,
  &.active {
    text-decoration: underline;
  }
}

.header {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: $space-md 0 $space-xl 0;
    z-index: 10;
  }

  &__desktop-menu {
    display: flex;
    gap: $space-sm;
    align-items: center;
  }

  &__hamburger {
    display: none;
    position: relative;
    flex-direction: column;
    background: $primary-bg-color;
    justify-content: space-between;
    width: 2rem;
    gap: 0.4rem;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: all 0.3s ease-in-out;
    z-index: 20;

    span {
      display: block;
      height: 3px;
      width: 100%;
      background: $black;
      transition: all 0.4s ease;
      transform-origin: center;
      border-radius: 10px;
    }

    &.open {
      span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 8px);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -8px);
      }
    }
  }

  @media (max-width: $bp-medium) {
    &__desktop-menu {
      display: none;
    }

    &__hamburger {
      display: flex;
    }
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  width: 100%;
  inset: 0;
  background: $primary-bg-color;
  z-index: 0;
  flex-direction: column;
  align-items: flex-end;
  padding-right: $space-lg;
  padding-top: 8rem;

  &--nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &.open {
    display: flex;
  }
}
