@use "variables" as *;

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // background: #aac5b5;
  // padding: $space-xl;
  min-height: 100vh;
  flex: 1;

  // &__header {
  //   color: $green;
  // }

  // &__header {
  //   color: black;
  //   font-size: $font-size-heading-sm;
  //   font-weight: $fw-black;
  //   margin-bottom: 65px;

  //   @media (min-width: 667px) {
  //     font-size: $font-size-heading-lg;
  //     margin-bottom: $space-lg;
  //   }
  // }

  &__image-and-titles {
    display: flex;
    flex-direction: column;

    @media (min-width: 667px) {
      flex-direction: row;
    }
  }

  &__image {
    // width: 164px;
    // height: 164px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
    object-position: 10% 90%;

    @media (min-width: 667px) {
      margin-right: $space-lg;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    // height: 115px;
    margin-top: $space-lg;

    &-name {
      font-size: $font-size-xxl;
      font-weight: $fw-bold;
      color: black;
    }

    &-role--primary {
      font-size: $font-size-heading-sm;
      font-weight: $fw-black;
    }

    &-role--secondary {
      font-size: $font-size-xl;
      font-weight: $fw-regular;
      color: #565656;
    }

    @media (min-width: 667px) {
      justify-content: flex-start;
      margin-top: 0;

      &-name {
        font-size: $font-size-heading-sm;
      }

      &-role--primary {
        font-size: $font-size-heading-md;
      }

      &-role--secondary {
        font-size: $font-size-xl;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    font-weight: $fw-bold;
    font-size: $font-size-md;
    line-height: $line-height-sm;
    // margin: $space-xl 0;
    margin: $space-sm 0 $space-sm 0;

    span {
      display: block;
      margin-bottom: $space-xs;
    }

    @media (min-width: 667px) {
      font-size: $font-size-xl;
      // font-weight: $fw-bold;
      // line-height: $line-height-xl;
      // margin: $space-xxl 0;
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;

    &-link {
      color: black;
      font-size: $font-size-xl;
      transition: color 0.3s ease;

      &:hover {
        color: $green;
      }

      // @media (min-width: 667px) {
      //   font-size: $font-size-xl;
      // }
    }
  }
}
