<div class="contact">
  <h1 class="contact__header">Contact</h1>

  <div class="contact__image-and-titles">
    <img
      [ngSrc]="'assets/images/linkedin-pic-cropped.jpg'"
      alt="Profile image of Frida"
      class="contact__image"
      width="164"
      height="164"
      sizes="(max-width: 768px) 100vw, 50vw"
    />

    <div class="contact__titles">
      <h3 class="contact__titles-name">Frida Nordenlöw</h3>
      <h3 class="contact__titles-role--primary">Frontend Developer</h3>
      <h3 class="contact__titles-role--secondary">+ visual & textile artist</h3>
    </div>
  </div>

  <div class="contact__details">
    <span>+46 (0)735 76 64 12</span>
    <span>frida.nordenlow&#64;medieinstitutet.se</span>
    <span>Stockholm, Sweden</span>
  </div>

  <div class="contact__icons">
    <a
      href="https://www.linkedin.com/in/fridanordenlow/"
      title="Link to Frida's LinkedIn page"
      target="_blank"
      rel="noreferrer"
      class="contact__icons-link"
    >
      <i aria-hidden="true" class="fab fa-linkedin-in"></i>
    </a>

    <a
      href="https://github.com/fridanordenlow"
      title="Link to Frida's Github page"
      target="_blank"
      rel="noreferrer"
      class="contact__icons-link"
    >
      <i aria-hidden="true" class="fab fa-github"></i>
    </a>

    <a
      href="mailto:frida.nordenlow@medieinstitutet.se"
      title="Link to send an email to Frida"
      target="_blank"
      rel="noreferrer"
      class="contact__icons-link"
    >
      <i aria-hidden="true" class="fa-solid fa-envelope"></i>
    </a>
  </div>
</div>
