@use "variables" as *;

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // background: #aac5b5;
  padding: $spacing-lg;
  min-height: 100vh;
  flex: 1;

  &__header {
    color: black;
    font-size: $font-size-heading-sm;
    font-weight: $fw-black;
    margin-bottom: 65px;

    @media (min-width: 667px) {
      font-size: $font-size-heading-lg;
      margin-bottom: $spacing-md;
    }
  }

  &__image-and-titles {
    display: flex;
    flex-direction: column;

    @media (min-width: 667px) {
      flex-direction: row;
    }
  }

  &__image {
    width: 164px;
    height: 164px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
    object-position: 10% 90%;

    @media (min-width: 667px) {
      margin-right: $spacing-md;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    // height: 115px;
    margin-top: $spacing-md;

    &-name {
      font-size: $font-size-xxl;
      font-weight: $fw-bold;
      color: black;
    }

    &-role--primary {
      font-size: $font-size-heading-sm;
      font-weight: $fw-black;
    }

    &-role--secondary {
      font-size: $font-size-xl;
      font-weight: $fw-regular;
      color: #565656;
    }

    @media (min-width: 667px) {
      justify-content: flex-start;
      margin-top: 0;

      &-name {
        font-size: $font-size-heading-sm;
      }

      &-role--primary {
        font-size: $font-size-heading-md;
      }

      &-role--secondary {
        font-size: $font-size-xl;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    font-weight: $fw-bold;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    margin: $spacing-lg 0;

    span {
      display: block;
      margin-bottom: $spacing-xs;
    }

    @media (min-width: 667px) {
      font-size: $font-size-xxl;
      // font-weight: $fw-bold;
      line-height: $line-height-xl;
      margin: $spacing-xl 0;
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 150px;

    &-link {
      color: black;
      font-size: $font-size-xl;
      transition: color 0.3s ease;

      &:hover {
        color: #d0d0d0;
      }

      @media (min-width: 667px) {
        font-size: $font-size-xxl;
      }
    }
  }
}
