@use "variables" as *;
@use "helpers" as *;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: $black;
  background-color: $primary-bg-color;
  font-family: $primary-font;
  font-size: clamp(#{$fs-md}, calc(#{$fs-heading-md} + 1.5vw), #{$fs-lg});
  line-height: $line-height-md;
}

/* Responsive typography */
h1 {
  display: inline-block;
  white-space: nowrap;
  color: $red;
  font-family: $font-oswald;
  font-size: clamp(
    #{$fs-heading-sm},
    calc(#{$fs-heading-sm} + 2vw),
    #{$fs-heading-xl}
  );
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

h2 {
  font-family: $font-bebas;
  font-size: clamp(
    #{$fs-heading-xxs},
    calc(#{$fs-heading-xs} + 1vw),
    #{$fs-heading-md}
  );
}

h3 {
  // font-family: $primary-font;
  font-size: $fs-heading-xxs;
}

p {
  font-family: $secondary-font;
  font-size: clamp(#{$fs-md}, calc(#{$fs-lg} + 1vw), #{$fs-lg});
}

span {
  font-family: $primary-font;
  font-size: $fs-md;
}
