@use "variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $primary-bg-color;
}
