@use "variables" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $primary-bg-color;
}

.card {
  display: flex;
  flex-direction: column;
  gap: $space-xs;
  padding: $space-sm;
  margin-bottom: $space-sm;
  border-left: $space-xxs solid black;
  max-width: 700px;
}

h3 {
  font-size: $font-size-heading-xs;
}

h4 {
  font-size: $font-size-heading-xxs;
}
