@use "variables" as *;
@use "helpers" as *;

html {
  scroll-behavior: smooth;
}

body {
  font-family: $secondary-font;
  // font-size: clamp(#{$font-size-md}, 1vw + 0.5rem, #{$font-size-lg});
  font-size: clamp(
    #{$font-size-md},
    calc(#{$font-size-heading-md} + 1.5vw),
    #{$font-size-lg}
  );
  line-height: $line-height-md;
}

main {
  min-height: 100vh;
  color: $black;
  background-color: $primary-bg-color;
}

/* Responsive typography */
h1 {
  display: inline-block;
  white-space: nowrap;
  color: $red;
  font-family: $font-oswald;
  font-size: clamp(
    #{$font-size-heading-sm},
    calc(#{$font-size-heading-sm} + 2vw),
    #{$font-size-heading-xl}
  );
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

h2 {
  font-family: $font-bebas;
  font-size: clamp(
    #{$font-size-heading-xxs},
    calc(#{$font-size-heading-xxs} + 1vw),
    #{$font-size-heading-md}
  );
}

h3 {
  font-size: $font-size-heading-xxs;
}

p {
  font-family: $secondary-font;
  font-size: $font-size-md;
}

span {
  font-family: $primary-font;
  font-size: $font-size-md;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 $space-lg $space-lg $space-lg;

  @media (min-width: $bp-medium) {
    padding: 0 $space-xl $space-xl $space-xl;
  }

  @media (min-width: $bp-large) {
    max-width: 1400px;
    padding: 0 $space-xxl $space-xxl $space-xxl;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: $space-sm;
  padding: $space-sm;
  margin-bottom: $space-md;
  border-left: 4px solid black;
}
