/* Font families */
$primary-font: "Satoshi", sans-serif;
$secondary-font: "EB Garamond", serif;

/* Font size */
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px (default body)
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 1.5rem; // 24px
$font-size-xxl: 1.75rem;
$font-size-heading-sm: 2rem; // 32px
$font-size-heading-md: 2.5rem; // 40px
$font-size-heading-lg: 3rem; // 48px
$font-size-heading-xl: 4rem; // 64px
$font-size-heading-xxl: 5rem; // 80px

/* Font weight */
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 800;

/* Line heights */
$line-height-sm: 1rem; // 16px
$line-height-md: 1.5rem; // 24px
$line-height-lg: 2rem; // 32px
$line-height-xl: 2.5rem; // 40px

/* Colors */
$primary-bg-color: white;
$secondary-bg-color: rgb(215, 225, 234);

/* Spacing */
$space-xxs: 0.25rem; // 4px
$space-xs: 0.5rem; // 8px
$space-sm: 1rem; // 16px
$space-md: 1.5rem; // 24px
$space-lg: 2rem; // 32px
$space-xl: 3rem; // 48px
$space-xxl: 4rem; // 64px
$space-xxxl: 6rem; // 96px

/* Variables for buttons */
// $button-bg: rgb(210, 225, 234);
// $button-color: #000;
// $button-hover-bg: #ccc;
// $button-hover-color: #333;
// $button-padding: 0.5rem 1rem;
// $button-transition: 0.3s ease;
