/* Font families */
$primary-font: "Satoshi", sans-serif;
$secondary-font: "EB Garamond", serif;
$font-oswald: "Oswald", sans-serif;
$font-bebas: "Bebas Neue", sans-serif;
$font-gothic: "Special Gothic Expanded One", sans-serif;
$font-rubik: "Rubik Mono One", monospace;

/* Font size */
$font-size-xxs: 0.75rem; // 12px
$font-size-xs: 0.875rem; // 14px
$font-size-sm: 1rem; // 16px (default body)
$font-size-md: 1.125rem; // 18px
$font-size-lg: 1.25rem; // 20px
$font-size-xl: 1.5rem; // 24px
$font-size-xxl: 1.75rem; // 28px
$font-size-heading-xxs: 1.25rem; // 20px
$font-size-heading-xs: 1.5rem; // 24px
$font-size-heading-sm: 2rem; // 32px
$font-size-heading-md: 2.5rem; // 40px
$font-size-heading-lg: 3rem; // 48px
$font-size-heading-xl: 4rem; // 64px
$font-size-heading-xxl: 5rem; // 80px

/* Font weight */
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 800;

/* Line heights */
$line-height-sm: 1rem; // 16px
$line-height-md: 1.5rem; // 24px
$line-height-lg: 2rem; // 32px
$line-height-xl: 2.5rem; // 40px

/* Colors */
$primary-bg-color: #f1f1f1;
$secondary-bg-color: #d7e1ea;
$red: #eb5843;
// $red: #b73a1f;
$pink: #e58ca1;
$blue: #86b8d7;
$green: #4e8759;
$grey: #afafaf;
$light-grey: #e8e8e8;
$dark-grey: #565656;
$black: #191919;

/* Breakpoints */
$bp-small: 667px;
$bp-medium: 850px;
$bp-large: 1200px;

/* Spacing */
$space-xxs: 0.25rem; // 4px
$space-xs: 0.5rem; // 8px
$space-sm: 1rem; // 16px
$space-md: 1.5rem; // 24px
$space-lg: 2rem; // 32px
$space-xl: 3rem; // 48px
$space-xxl: 4rem; // 64px
$space-xxxl: 6rem; // 96px
