/* Font families */
$primary-font: "Satoshi", sans-serif;
$secondary-font: "EB Garamond", serif;
$font-oswald: "Oswald", sans-serif;
$font-bebas: "Bebas Neue", sans-serif;
$font-gothic: "Special Gothic Expanded One", sans-serif;
$font-rubik: "Rubik Mono One", monospace;

/* Font size */
$fs-xxs: 0.75rem; // 12px
$fs-xs: 0.875rem; // 14px
$fs-sm: 1rem; // 16px (default body)
$fs-md: 1.125rem; // 18px
$fs-lg: 1.25rem; // 20px
$fs-xl: 1.5rem; // 24px
$fs-xxl: 1.75rem; // 28px
$fs-heading-xxs: 1.25rem; // 20px
$fs-heading-xs: 1.5rem; // 24px
$fs-heading-sm: 2rem; // 32px
$fs-heading-md: 2.25rem; // ?
$fs-heading-lg: 2.5rem; // ?
$fs-heading-xl: 3rem; // 48px
$fs-heading-xxl: 4rem;

$paragraph: clamp(#{$fs-sm}, calc(#{$fs-lg} + 1vw), #{$fs-md});

/* Font weight */
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 800;

/* Line heights */
$line-height-sm: 1.2;
$line-height-md: 1.4;
$line-height-lg: 1.6;

/* Colors */
$primary-bg-color: #f1f1f1;
$secondary-bg-color: #d7e1ea;
$red: #eb5843;
$dark-red: #b73a1f;
$pink: #e58ca1;
$blue: #4e89ae;
// $blue: #86b8d7;
$green: #4e8759;
$grey: #afafaf;
$light-grey: #e8e8e8;
$dark-grey: #565656;
$black: #191919;

/* Breakpoints */
$bp-small: 667px;
$bp-medium: 850px;
$bp-large: 1200px;

/* Spacing */
$space-xxs: 0.25rem; // 4px
$space-xs: 0.5rem; // 8px
$space-sm: 1rem; // 16px
$space-md: 1.5rem; // 24px
$space-lg: 2rem; // 32px
$space-xl: 3rem; // 48px
$space-xxl: 4rem; // 64px

/* Border styles */
$border-line: 4px solid $black;
