@use "variables" as *;

h2 {
  color: black;
  font-size: $font-size-heading-sm;
  font-weight: $fw-black;

  @media (min-width: 667px) {
    font-size: $font-size-heading-lg;
    margin-bottom: $space-lg;
  }
}
