@use "variables" as *;

h2 {
  color: $green;

  // font-size: $font-size-heading-md;
  font-weight: $fw-black;

  // @media (min-width: $bp-small) {
  //   font-size: $font-size-heading-lg;
  //   margin-bottom: $space-lg;
  // }
}
