@use "variables" as *;

.page-container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 $space-xl $space-xl $space-xl;
}

/* Test responsive styling */
// .mobile {
//   background-color: blue;
// }

// .tablet {
//   background-color: pink;
// }

// .desktop {
//   background-color: yellow;
// }
