@use "variables" as *;

.cv {
  display: flex;
  flex-direction: column;
  gap: $space-xl;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: $space-xl;
  }

  &__education,
  &__jobs {
    margin-top: $space-md;
  }

  &__heading {
    font-family: $font-bebas;
    font-size: $fs-heading-sm;
    font-weight: $fw-bold;
    color: $blue;
    padding-bottom: $space-xxs;

    &--education {
      color: $red;
    }

    &--jobs {
      color: $green;
    }
  }
}
