@use "variables" as *;

.cv {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: $space-md;
  }

  &__education,
  &__jobs {
    margin-top: $space-md;
  }

  &__heading {
    font-family: $font-bebas;
    font-style: italic;
    font-size: $font-size-heading-sm;
    font-weight: $fw-bold;
    color: $blue;
    // padding-left: $space-lg;
    padding-bottom: $space-xxs;
    // text-decoration: underline;
  }
  &__heading--education {
    color: $blue;
  }

  &__heading--jobs {
    color: $green;
  }
}
