<section class="home">
  <div class="home__introduction">
    <div class="home__profile">
      <img
        [ngSrc]="'assets/images/linkedin-pic-cropped.jpg'"
        alt="Profile image of Frida"
        width="164"
        height="164"
        class="home__profile--img"
      />

      <div class="home__titles" lang="en-US">
        <h2 class="home__profession home__profession--primary">
          Software Developer
        </h2>
        <h3 class="home__profession home__profession--secondary">
          + Visual Arts background
        </h3>
      </div>
    </div>

    <p class="home__paragraph">
      Hello! I'm a software developer with a background in the creative field,
      combining problem-solving, design thinking, and technical skills to build
      modern applications and websites. Creating has always been a part of my
      life—through crafts, design, and now code.
      <br />
      <br />

      My programming education has been focused on frontend development but I’ve
      also worked with backend fundamentals through coursework and projects,
      including building REST APIs, handling databases such as MongoDB and
      relational SQL systems, and developing with Node.js and Express.js. I
      enjoy structuring applications on both sides, from visual interface to
      server logic and data handling, to understand and bridge the gap between
      the two.
      <br />
      <br />

      My journey into web development started with Technigo’s bootcamp in 2023
      and I’m currently deepening both my frontend and backend skills through
      the two-year
      <a
        href="https://medieinstitutet.se/utbildningar/front-end-developer/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Frontend Developer
      </a>
      program at Medieinstitutet in Stockholm, which despite its name, also
      includes fullstack development. I'm set to graduate in May 2026, and after
      completing a total of six months internship, I'll be more than ready for
      work!
    </p>

    <app-icon-bar></app-icon-bar>
  </div>

  <div class="home__textile">
    <img
      [ngSrc]="'assets/images/dreamer-duvet.webp'"
      alt="Close-up image of textile duvet art piece"
      class="home__textile-image"
      width="400"
      height="400"
    />
    <p>
      Looks low-res? Not at all! This is a close-up from my art degree project
      at Konstfack, where I played with a pixel fade of a recreated 90's fabric
      pattern.
    </p>
  </div>

  <!-- <app-skills></app-skills> -->
</section>
