@use "variables" as *;

.home {
  display: flex;

  &__introduction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding-top: $space-xl;

    @media (min-width: 667px) {
      align-items: center;
      justify-content: center;
      width: 60%;
      // padding: $space-lg $space-sm;
    }

    @media (min-width: 1200px) {
      flex: 1;
    }
  }

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__image {
    width: 10.25rem; // 164px
    height: 10.25rem;
    border-radius: 50%;
    object-fit: cover;
    align-self: left;
    object-position: 10% 90%;
    margin-bottom: $space-md;

    @media (min-width: 667px) {
      margin-right: $space-lg;
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  //   &__name {
  //     font-family: $primary-font;
  //     font-size: $font-size-xxl;
  //     font-weight: $fw-bold;
  //     color: #86b8d7;
  //   }

  &__profession {
    &--primary {
      font-family: $primary-font;
      font-size: $font-size-heading-sm;
      font-weight: $fw-black;
      color: $blue;
    }

    &--secondary {
      font-family: $primary-font;
      font-size: $font-size-xl;
      font-weight: $fw-medium;
      color: $dark-grey;
    }
  }

  &__paragraph {
    font-family: $secondary-font;
    font-size: $font-size-lg;
    font-weight: $fw-regular;
    // line-height: $line-height-xl;
    margin-top: $space-lg;
    // margin-right: $space-lg;

    @media (min-width: 850px) {
      margin-right: $space-xl;
    }

    a {
      color: black;
      font-style: italic;
      text-decoration: underline 1px;

      &:hover {
        color: $pink;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-self: start;
    width: 150px;
    margin-top: $space-xl;
  }

  &__icon {
    color: $grey;
    font-size: $font-size-heading-sm;

    &:hover {
      color: $pink;
    }
  }

  &__textile {
    display: none;

    @media (min-width: 850px) {
      display: flex;
      width: 40%;
      align-items: stretch;
      justify-content: center;
    }

    @media (min-width: 1200px) {
      flex: 1;
    }
  }

  &__textile-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
