@use "variables" as *;

.home {
  display: flex;

  &__introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: $space-xl;

    @media (min-width: $bp-small) {
      justify-content: center;
      width: 60%;
      padding-right: $space-lg;
    }
  }

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (min-width: $bp-medium) {
      // $bp-medium
      flex-direction: row;
    }

    &--img {
      width: 10.25rem; // 164px
      height: 10.25rem;
      border-radius: 50%;
      object-fit: cover;
      align-self: left;
      object-position: 10% 90%;
      margin-bottom: $space-md;

      @media (min-width: $bp-medium) {
        margin-right: $space-lg;
      }
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__profession {
    &--primary {
      color: $blue;
    }

    &--secondary {
      font-weight: $fw-medium;
      color: $dark-grey;
    }
  }

  &__paragraph {
    margin: $space-md 0 $space-xl 0;
    max-width: 600px;

    a {
      color: black;
      font-style: italic;
      text-decoration: underline 1px;

      &:hover {
        color: $green;
      }
    }
  }

  &__textile {
    display: none;

    @media (min-width: $bp-medium) {
      display: flex;
      width: 50%;
      align-items: stretch;
      justify-content: center;
    }

    // @media (min-width: $bp-large) {
    //   flex: 1;
    // }
  }

  &__textile-image {
    display: block;
    border-radius: 2px;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
