@use "variables" as *;

.home {
  display: flex;

  &__introduction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding-top: $space-xl;

    @media (min-width: $bp-small) {
      align-items: center;
      justify-content: center;
      width: 60%;
      padding-right: $space-lg;
    }
  }

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (min-width: 1024px) {
      flex-direction: row;
    }

    &--img {
      width: 10.25rem; // 164px
      height: 10.25rem;
      border-radius: 50%;
      object-fit: cover;
      align-self: left;
      object-position: 10% 90%;
      margin-bottom: $space-md;

      @media (min-width: 667px) {
        margin-right: $space-lg;
      }
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // &__name {
  //   font-family: $primary-font;
  //   font-size: $font-size-xxl;
  //   font-weight: $fw-bold;
  //   color: #86b8d7;
  // }

  &__profession {
    &--primary {
      font-weight: $fw-black;
      color: $blue;
    }

    &--secondary {
      font-family: $primary-font;

      font-weight: $fw-medium;
      color: $dark-grey;
    }
  }

  &__paragraph {
    font-family: $secondary-font;
    font-weight: $fw-regular;
    // line-height: $line-height-md;
    margin-top: $space-lg;

    a {
      color: black;
      font-style: italic;
      text-decoration: underline 1px;

      &:hover {
        color: $green;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 150px;
    margin-top: $space-xl;

    @media (min-width: $bp-medium) {
      align-self: flex-start;
    }
  }

  &__icon {
    color: $red;
    font-size: $font-size-xxl;

    &:hover {
      color: $blue;
    }
  }

  &__textile {
    display: none;

    @media (min-width: $bp-medium) {
      display: flex;
      width: 50%;
      align-items: stretch;
      justify-content: center;
    }

    @media (min-width: $bp-large) {
      flex: 1;
    }
  }

  &__textile-image {
    display: block;
    border-radius: 2px;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
