<section class="projects">
  <h2 class="projects__header">Projects</h2>
  <p class="projects__introduction">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, id voluptate
    veritatis quibusdam, fuga blanditiis dolore vitae eligendi, laborum dicta et
    maxime nemo illum minima cum quam debitis excepturi? Architecto. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Optio, id voluptate veritatis
    quibusdam, fuga blanditiis dolore vitae eligendi, laborum dicta et maxime
    nemo illum minima cum quam debitis excepturi? Architecto.
  </p>
  @for (project of projectSignal(); track project.title) {
  <app-single-project [project]="project"></app-single-project>
  }
</section>

<!-- <section class="projects">
  <h2 class="projects__header">Projects</h2>
  <p class="projects__introduction">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, id voluptate
    veritatis quibusdam, fuga blanditiis dolore vitae eligendi, laborum dicta et
    maxime nemo illum minima cum quam debitis excepturi? Architecto. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Optio, id voluptate veritatis
    quibusdam, fuga blanditiis dolore vitae eligendi, laborum dicta et maxime
    nemo illum minima cum quam debitis excepturi? Architecto.
  </p>
  @for (project of projects; track project.title) {
  <app-single-project [project]="project"></app-single-project>
  }
</section> -->
