@use "variables" as *;

.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  i {
    color: $dark-red;
  }

  &__introduction {
    font-family: $secondary-font;
    margin-bottom: $space-lg;
    max-width: 600px;

    @media (min-width: 667px) {
      margin-bottom: $space-xxl;
    }
  }

  a {
    color: black;
    font-style: italic;
    text-decoration: underline 1px;

    &:hover {
      color: $green;
    }
  }
}

.grid-auto-fill {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 2rem;
  row-gap: 3rem;
}
