<section class="projects">
  <app-page-header [pageTitle]="'Projects'"></app-page-header>
  <p class="projects__introduction">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, id voluptate
    veritatis quibusdam, fuga blanditiis dolore vitae eligendi, laborum dicta et
    maxime nemo illum minima cum quam debitis excepturi? Architecto. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Optio, id voluptate veritatis
    quibusdam, fuga blanditiis dolore vitae eligendi, laborum dicta et maxime
    nemo illum minima cum quam debitis excepturi? Architecto.
  </p>
  <div class="grid-auto-fill">
    @for (project of projectSignal(); track project.title) {
    <app-project-card [project]="project"></app-project-card>
    }
  </div>
</section>
