<section class="projects">
  <!-- <app-page-header [pageTitle]="'Projects'"></app-page-header> -->
  <p class="projects__introduction">
    Welcome to a selection of the projects I've built during my journey into
    frontend development. These projects reflect different stages of my learning
    — from early exercises in HTML, CSS and vanilla JavaScript to more advanced
    work using TypeScript, React, state management and data integration. This is
    just a curated selection; more projects can be found on my<a
      href="https://medieinstitutet.se/utbildningar/front-end-developer/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Github</a
    >. And by the way, this portfolio was built in Angular - a new favorite
    framework of mine!
    <i aria-hidden="true" class="fab fa-angular"></i>
  </p>
  <div class="grid-auto-fill">
    @for (project of projectSignal(); track project.title) {
    <app-project-card [project]="project"></app-project-card>
    }
  </div>
</section>
