@use "variables" as *;

.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  // &__heading {
  //   // font-family: $font-bebas;
  //   // font-size: $font-size-heading-sm;
  //   font-weight: $fw-black;
  //   margin-bottom: $space-xs;

  //   @media (min-width: 667px) {
  //     // font-size: $font-size-heading-md;
  //     margin-bottom: $space-sm;
  //   }
  // }

  i {
    color: $dark-red;
  }

  &__introduction {
    font-family: $secondary-font;
    // font-size: $font-size-lg;
    margin-bottom: $space-lg;
    max-width: 600px;

    @media (min-width: 667px) {
      // font-size: $font-size-lg;
      margin-bottom: $space-xxl;
    }
  }

  a {
    color: black;
    font-style: italic;
    text-decoration: underline 1px;

    &:hover {
      color: $green;
    }
  }
}

.grid-auto-fill {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 2rem;
  row-gap: 3rem;
}
