@use "variables" as *;

.project {
  &__image {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    margin-bottom: $space-sm;
  }

  &__heading {
    margin-bottom: $space-xxs;
  }

  &__description {
    margin-bottom: $space-md;
  }

  &__languages {
    display: flex;
    flex-wrap: wrap;
    gap: $space-xs;
    margin-bottom: $space-md;
  }

  &__language {
    font-weight: $fw-medium;
    background-color: $green;
    color: $white;
    padding: $space-xxs;
  }

  &__buttons {
    display: flex;
    gap: $space-xs;
  }
}
