<div class="contact">
  <div class="contact__image-titles">
    <img
      [ngSrc]="'assets/images/linkedin-pic-cropped.jpg'"
      alt="Profile image of Frida"
      class="contact__image"
      width="164"
      height="164"
      sizes="(max-width: 768px) 100vw, 50vw"
    />
    <div class="contact__titles" lang="en-US">
      <h2 class="contact__profession contact__profession--primary">
        Frontend Developer
      </h2>
      <h3 class="contact__profession contact__profession--secondary">
        + Visual & textile artist
      </h3>
    </div>
  </div>

  <div class="contact__details">
    <div>
      <h3>Contact details</h3>
      <p>Frida Nordenlöw</p>
      <p>+46 (0)735 76 62 14</p>
      <p>frida.nordenlow&#64;medieinstitutet.se</p>
      <p>Stockholm, Sweden</p>
    </div>
  </div>
  <div class="contact__icons">
    <app-icon-bar></app-icon-bar>
  </div>
</div>
