@use "variables" as *;

.contact {
  display: flex;
  flex-direction: column;
  gap: $space-md;
  padding: $space-md;
  border-left: $border-line;

  @media (min-width: $bp-small) {
    padding: $space-xl;
  }

  &__image-titles {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    @media (min-width: $bp-small) {
      // To have titles on the side of the image on bigger screens
      //   flex-direction: row;
    }
  }

  &__image {
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
    object-position: 10% 90%;
  }

  &__titles {
    align-self: center;
    margin-top: $space-md;

    // To have titles on the side of the image on bigger screens
    // @media (min-width: $bp-small) {
    //   padding-left: $space-md;
    //   margin-top: 0;
    // }
  }

  &__profession {
    &--primary {
      font-weight: $fw-black;
      color: $blue;
    }

    &--secondary {
      font-weight: $fw-medium;
      color: $dark-grey;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;

    h3 {
      padding-bottom: $space-xxs;
    }

    p {
      font-family: $primary-font;
    }
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;

    &-link {
      color: black;
      font-size: $fs-xl;
      transition: color 0.3s ease;

      &:hover {
        color: $green;
      }
    }
  }
}
