@use "variables" as *;

.education-card {
  &__school {
    margin-bottom: $space-xs;
  }

  &__date {
    font-weight: $fw-medium;
  }

  &__location {
    font-weight: $fw-medium;
  }

  &__description {
    font-family: $secondary-font;
    // font-size: $font-size-md; // Maybe remove
  }
}
