@use "variables" as *;

.education {
  &__school {
    margin-bottom: $space-xs;
  }

  &__date {
    font-weight: $fw-medium;
  }

  &__location {
    font-weight: $fw-medium;
  }

  &__description {
    font-family: $secondary-font;
  }
}
